<nz-page-header class="site-page-header" nzTitle="Patients">
  <nz-breadcrumb nz-page-header-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home" nzTheme="twotone"></i> <span>Home</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <i nz-icon nzType="team"></i> <span>Patients</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="search-form">
  <div nz-row nzJustify="space-between" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col [nzXl]="6" [nzLg]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="name" id="name" placeholder="Search by name" (change)="submitForm()" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="gender">Gender</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-select formControlName="gender" id="gender" nzAllowClear nzPlaceHolder="Choose gender"
            (ngModelChange)="submitForm()">
            <nz-option nzValue="female" nzLabel="Female"></nz-option>
            <nz-option nzValue="male" nzLabel="Male"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="sort">Sort by</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-select formControlName="sort" id="sort" nzAllowClear nzPlaceHolder="Sort by" (ngModelChange)="submitForm()">
            <nz-option nzValue="name" nzLabel="Name Ascending"></nz-option>
            <nz-option nzValue="-name" nzLabel="Name Descending"></nz-option>
            <nz-option nzValue="birthdate" nzLabel="Birth Date Ascending"></nz-option>
            <nz-option nzValue="-birthdate" nzLabel="Birth Date Descending"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXl]="6" [nzLg]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="sort">Show</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-select formControlName="pageLength" id="pageLength" nzAllowClear nzPlaceHolder="Page Size" [(ngModel)]="pageSize" (ngModelChange)="submitForm()">
            <nz-option nzValue="5" nzLabel="5 records"></nz-option>
            <nz-option nzValue="10" nzLabel="10 records"></nz-option>
            <nz-option nzValue="50" nzLabel="50 records"></nz-option>
            <nz-option nzValue="100" nzLabel="100 records"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<nz-list class="patients-list" [nzLoading]="initLoading">
  <nz-list-item *ngFor="let item of patients">
    <ng-container *ngIf="!item.loading">
      <nz-list-item-meta [nzAvatar]="getAvatar(item)" [nzDescription]="getFullName(item)">
        <nz-list-item-meta-title>DOB: {{ item.resource.birthDate }}</nz-list-item-meta-title>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action><a (click)="edit(item)">edit</a></nz-list-item-action>
      </ul>
    </ng-container>
    <nz-skeleton *ngIf="item.loading" [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true">
    </nz-skeleton>
  </nz-list-item>
  <div class="loadmore" nz-list-load-more>
    <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">loading more</button>
  </div>
</nz-list>
