<nz-layout>
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/">
        <img src="../../../assets/img/logo.png" alt="logo">
        <h1>Turkcell Telehealth</h1>
      </a>
    </div>

    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="!menu.children && menu.level > 1 && (!menu.roles || (menu.roles && menu.roles.indexOf(user.role) !== -1))"
            nz-menu-item [nzDisabled]="menu.disabled" [nzSelected]="menu.selected" [nzPaddingLeft]="menu.level * 24"
            nzMatchRouter="true">
            <a routerLink="{{ menu.url }}"><i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
              <span>{{ menu.title }}</span></a>
          </li>
          <li
            *ngIf="!menu.children && menu.level === 1 && (!menu.roles || (menu.roles && menu.roles.indexOf(user.role) !== -1))"
            nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzDisabled]="menu.disabled" [nzSelected]="menu.selected"
            [nzTooltipTitle]="isCollapsed ? menu.title : ''" [nzPaddingLeft]="menu.level * 24" nzMatchRouter="true">
            <a routerLink="{{ menu.url }}"><i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
              <span>{{ menu.title }}</span></a>
          </li>
          <li *ngIf="menu.children && (!menu.roles || (menu.roles.indexOf(user.role) !== -1))" nz-submenu
            [nzOpen]="menu.open" [nzTitle]="menu.title" [nzIcon]="menu.icon" [nzDisabled]="menu.disabled"
            [nzPaddingLeft]="menu.level * 24">
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header justify-content-between">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="float-right" *ngIf="user">
          <a nz-dropdown [nzDropdownMenu]="menu">
            {{user.firstname + " " + user.lastname}}
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item><a routerLink="/security/my-profile">
                  <i nz-icon nzType="profile"></i>
                  Profile</a></li>
              <li nz-menu-divider></li>
              <li nz-menu-item><a (click)="logout()">
                  <i nz-icon nzType="logout"></i>
                  Logout</a></li>
            </ul>
          </nz-dropdown-menu>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Turkcell Telehealth ©2020 Turkcell Technology</nz-footer>
  </nz-layout>
</nz-layout>
