<ng-container *ngIf="patientCarePlans$ | async as patientCarePlans">
  <nz-table nzSize="small" #patientCarePlansTable [nzData]="patientCarePlans.entry">
    <thead>
      <tr>
        <th>Category</th>
        <th>Period</th>
        <th>Activities</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carePlan of patientCarePlansTable.data">
        <td>{{getCategories(carePlan.resource.category)}}</td>
        <td>
          <span *ngIf="carePlan.resource.period.start">from {{carePlan.resource.period.start | date:"MMMM d, y h:mm a"}}
          </span>
          <span *ngIf="carePlan.resource.period.end">to
            {{carePlan.resource.period.end | date:"MMMM d, y h:mm a"}}</span>
        </td>
        <td><span *ngFor="let activity of carePlan.resource.activity">{{activity.detail.code.text}} - {{activity.detail.status}}<br></span></td>
        <td>{{carePlan.resource.status}}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
