<nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home"></i> <span>Home</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin"><i nz-icon nzType="setting"></i> <span>Settings</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin/roles"><i nz-icon nzType="team"></i> <span>Roles</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      New Role
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <nz-card nzTitle="New Role">
    <p>role-add works!</p>
  </nz-card>
  