<nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home" nzTheme="twotone"></i> <span>Home</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin"><i nz-icon nzType="setting" nzTheme="twotone" nzTwotoneColor="#eb2f96"></i> <span>Settings</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin/roles"><i nz-icon nzType="safety-certificate" nzTheme="twotone" nzTwotoneColor="#52c41a"></i> <span>Roles</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      New Role
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <nz-card nzTitle="New Role">
    <p>role-add works!</p>
  </nz-card>
  