<ng-container *ngIf="medicationRequests$ | async as medicationRequests">
  <nz-table nzSize="small" #medicationRequestsTable [nzData]="medicationRequests.entry">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Intent</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of medicationRequestsTable.data">
        <td>{{request.resource.medicationCodeableConcept.text}}</td>
        <td>{{request.resource.authoredOn | date:"MMMM d, y h:mm a"}}</td>
        <td>{{request.resource.intent}}</td>
        <td>{{request.resource.status}}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
