<div class="container-center">
  <nz-card style="width: 400px;">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="username">Username</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input formControlName="username" placeholder="User Name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
        <a class="float-right text-muted" style="position: absolute; right: 24px;" routerLink="/account/forgot-password">Forgot Password?</a>
        <nz-form-control nzErrorTip="Please input your Password!">
          <input nz-input formControlName="password" placeholder="Password" />
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
      </div>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          Don't have account? <a routerLink="/account/register">Register</a>
        </div>
        <div nz-col [nzSpan]="12">
          <button nz-button nzType="primary" class="float-right">Log in</button>
        </div>
      </div>
    </form>
  </nz-card>
</div>
