<div class="container-center">
  <nz-card class="shadow-lg" style="width: 450px;">
    <div nz-row class="container-center" style="margin: 1rem 0">
      <img src="/assets/img/logo.png" alt="Turkcell Telehealth">
    </div>
    <h1 align="center">Turkcell Telehealth</h1>

    <form nz-form nzLayout="vertical" [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <div nz-row>
        <div nz-col nzSpan="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="firstname">First Name</nz-form-label>
            <nz-form-control nzErrorTip="Please input your first name!">
              <input nz-input formControlName="firstname" placeholder="First Name" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="11" nzOffset="2">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="lastname">Last Name</nz-form-label>
            <nz-form-control nzErrorTip="Please input your last name!">
              <input nz-input formControlName="lastname" placeholder="Last Name" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="username">Username</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input formControlName="username" placeholder="User Name" />
        </nz-form-control>
      </nz-form-item>
      <div nz-row>
        <div nz-col nzSpan="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
            <nz-input-group [nzSuffix]="suffixTemplate" nzErrorTip="Please input your password!">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" id="password"
                placeholder="Password" [(ngModel)]="password" (ngModelChange)="updateConfirmValidator()" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="11" nzOffset="2">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="checkPassword">Confirm Password</nz-form-label>
            <nz-input-group [nzSuffix]="suffixTemplate" nzErrorTip="confPassErrorTpl">
              <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input formControlName="checkPassword"
                id="checkPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
            </ng-template>
            <ng-template #confPassErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please confirm your password!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Two passwords that you enter is inconsistent!
              </ng-container>
            </ng-template>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
        <nz-form-control [nzValidateStatus]="registerForm.controls['phoneNumber']"
          nzErrorTip="Please input your phone number!">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                <nz-option nzLabel="+90" nzValue="+90"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control>
          <label nz-checkbox formControlName="agree">
            <span>I have read the <a>agreement</a></span>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control>
          <button nz-button nzType="primary">Register</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
