<nz-page-header class="site-page-header" nzTitle="Roles">
  <nz-breadcrumb nz-page-header-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home" nzTheme="twotone"></i> <span>Home</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin"><i nz-icon nzType="setting" nzTheme="twotone" nzTwotoneColor="#eb2f96"></i>
        <span>Settings</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <i nz-icon nzType="safety-certificate"></i> <span>Roles</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>
