<nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home"></i> <span>Home</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin"><i nz-icon nzType="setting"></i> <span>Settings</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin/roles"><i nz-icon nzType="team"></i> <span>Roles</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Role List
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <nz-card nzTitle="Roles">
    <p>role-list works!</p>
  </nz-card>
  