<ng-container *ngIf="vitalSignObservations$ | async as vitalSignObservations">
  <nz-table nzSize="small" #vitalSignObservationsTable [nzData]="vitalSignObservations.entry">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let observation of vitalSignObservationsTable.data">
        <td>{{observation.resource.code.text}}</td>
        <td>{{getVitalSignObservationValue(observation.resource)}}</td>
        <td>{{observation.resource.effectiveDateTime | date:"MMMM d, y h:mm a"}}</td>
        <td>{{observation.resource.status}}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
