<ng-container *ngIf="patientProcedures$ | async as patientProcedures">
  <nz-table nzSize="small" #patientProceduresTable [nzData]="patientProcedures.entry">
    <thead>
      <tr>
        <th>Code</th>
        <th>Period</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let procedure of patientProceduresTable.data">
        <td>{{procedure.resource.code.text}}</td>
        <td>
          <span *ngIf="procedure.resource.performedPeriod.start">from {{procedure.resource.performedPeriod.start | date:"MMMM d, y h:mm a"}}
          </span>
          <span *ngIf="procedure.resource.performedPeriod.end">to
            {{procedure.resource.performedPeriod.end | date:"MMMM d, y h:mm a"}}</span>
        </td>
        <td>{{procedure.resource.status}}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
