<ng-container *ngIf="patientAppointments$ | async as patientAppointments">
  <nz-table nzSize="small" #patientAppointmentsTable [nzData]="patientAppointments.entry">
    <thead>
      <tr>
        <th>Reason</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of patientAppointmentsTable.data">
        <td>{{getReasonCodes(appointment.resource.reasonCode)}}</td>
        <td>{{appointment.resource.start | date:"MMMM d, y h:mm a"}}</td>
        <td>{{appointment.resource.end | date:"MMMM d, y h:mm a"}}</td>
        <td>{{appointment.resource.status}}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
