<nz-page-header class="site-page-header" nzTitle="Appointments">
  <nz-breadcrumb nz-page-header-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home" nzTheme="twotone"></i> <span>Home</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/administration"><i nz-icon nzType="setting" nzTheme="twotone"></i> <span>Administration</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <i nz-icon nzType="calendar"></i> <span>Appointments</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="onAdd()"><i nz-icon nzType="plus" nzTheme="outline"></i> Add
      New</button>
  </nz-page-header-extra>
</nz-page-header>

<nz-card>
  <ng-container *ngIf="isLoading">
    <div id="loader-wrapper" class="loader-wrapper">
      <div id="loader" class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
        <div class="message">Loading...</div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </ng-container>
</nz-card>

<swal #deleteSwal title="Are you sure?" text="You won't be able to revert this!" icon="warning" showCancelButton="true"
  focusCancel="true" confirmButtonColor="#3085d6" cancelButtonColor="#d33" confirmButtonText="Yes, delete it!">
</swal>
