.ant-breadcrumb {
  font-weight: 500;
  margin-bottom: 1rem;
}

.ant-card {
  color: #53535f;
  background: #fff;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}

.ant-form-item-label label {
  color: #53535f;
  font-weight: 500;
}

.ant-form-item-label > label.ant-form-item-required:before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-input {
  padding: 0.55rem 1rem;
  height: auto;
  border: 1px solid #edf2f9;
  border-radius: 0.25rem;
}

.ant-input-affix-wrapper {
  padding: 0.55rem 1rem;
  color: #53535f;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #edf2f9;
  border-radius: 0.25rem;
}

.anticon {
  margin: 0 3px;
}

.anticon-sm {
  font-size: 12px;
}

.anticon-md {
  font-size: 15px;
}

.anticon-lg {
  font-size: 18px;
}

.anticon-xl {
  font-size: 21px;
}

.float-right {
  float: right !important;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(77, 84, 124, 0.09) !important;
}
