<nz-page-header class="site-page-header" nzTitle="Patients">
  <nz-breadcrumb nz-page-header-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home" nzTheme="twotone"></i> <span>Home</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/administration"><i nz-icon nzType="setting" nzTheme="twotone"></i> <span>Administration</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <i nz-icon nzType="team"></i> <span>Patients</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="onAdd()"><i nz-icon nzType="plus" nzTheme="outline"></i> Add
      New</button>
  </nz-page-header-extra>
</nz-page-header>

<nz-card>
  <form nz-form [formGroup]="filterForm" class="search-form">
    <div nz-row nzJustify="space-between" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col [nzXl]="6" [nzLg]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name">Name</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input nz-input formControlName="name" id="name" placeholder="Search by name" (change)="submitForm()" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="6" [nzLg]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="gender">Gender</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-select formControlName="gender" id="gender" nzAllowClear nzPlaceHolder="Choose gender"
              (ngModelChange)="submitForm()">
              <nz-option nzValue="female" nzLabel="Female"></nz-option>
              <nz-option nzValue="male" nzLabel="Male"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="6" [nzLg]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="sort">Sort by</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-select formControlName="sort" id="sort" nzAllowClear nzPlaceHolder="Sort by"
              (ngModelChange)="submitForm()">
              <nz-option nzValue="name" nzLabel="Name Ascending"></nz-option>
              <nz-option nzValue="-name" nzLabel="Name Descending"></nz-option>
              <nz-option nzValue="birthdate" nzLabel="Birth Date Ascending"></nz-option>
              <nz-option nzValue="-birthdate" nzLabel="Birth Date Descending"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="6" [nzLg]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="sort">Show</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-select formControlName="pageLength" id="pageLength" nzAllowClear nzPlaceHolder="Page Size"
              (ngModelChange)="submitForm()">
              <nz-option nzValue="5" nzLabel="5 records"></nz-option>
              <nz-option nzSelected nzValue="10" nzLabel="10 records"></nz-option>
              <nz-option nzValue="50" nzLabel="50 records"></nz-option>
              <nz-option nzValue="100" nzLabel="100 records"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-container *ngIf="isLoading">
    <div id="loader-wrapper" class="loader-wrapper">
      <div id="loader" class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
        <div class="message">Loading...</div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <nz-list class="patients-list">
      <nz-list-item *ngFor="let item of this.patients">
        <nz-list-item-meta nzAvatar="/assets/img/{{item.gender}}.svg" [nzDescription]="item.name">
          <nz-list-item-meta-title>DOB: {{ item.birthDate | date:"MMMM d, y" }}</nz-list-item-meta-title>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a [routerLink]="['/administration/patients/', item.id]" title="View Details"><i nz-icon nzType="eye"
                nzTheme="twotone" class="anticon-lg"></i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a title="Edit" (click)="onEdit(item)"><i nz-icon nzType="edit" nzTheme="twotone" nzTwotoneColor="#52c41a"
                class="anticon-lg"></i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a title="Delete" [swal]="deleteSwal" (confirm)="onDelete(item)"><i nz-icon nzType="delete"
                nzTheme="twotone" nzTwotoneColor="#eb2f96" class="anticon-lg"></i></a>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
      <div class="loadmore" nz-list-load-more>
        <button nz-button [nzLoading]="loadingMore" (click)="onLoadMore()">Loading more</button>
      </div>
    </nz-list>
  </ng-container>
</nz-card>

<swal #deleteSwal title="Are you sure?" text="You won't be able to revert this!" icon="warning" showCancelButton="true"
  focusCancel="true" confirmButtonColor="#3085d6" cancelButtonColor="#d33" confirmButtonText="Yes, delete it!">
</swal>
