<ng-container *ngIf="laboratoryObservations$ | async as laboratoryObservations">
  <nz-table nzSize="small" #laboratoryObservationsTable [nzData]="laboratoryObservations.entry">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let observation of laboratoryObservationsTable.data">
        <td>{{observation.resource.code.text}}</td>
        <td>{{observation.resource.valueQuantity.value}} {{observation.resource.valueQuantity.unit}}</td>
        <td>{{observation.resource.effectiveDateTime | date:"MMMM d, y h:mm a"}}</td>
        <td>{{observation.resource.status}}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
