<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item>
    <a routerLink="/"><i nz-icon nzType="home"></i> <span>Home</span></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/admin"><i nz-icon nzType="setting"></i> <span>Settings</span></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/admin/users"><i nz-icon nzType="team"></i> <span>Users</span></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    New User
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-card nzTitle="New User">
  <p>user-add works!</p>
</nz-card>
