<nz-page-header class="site-page-header" nzTitle="Encounters">
  <nz-breadcrumb nz-page-header-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home" nzTheme="twotone"></i> <span>Home</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <i nz-icon nzType="calendar"></i> <span>Encounters</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<ng-container *ngIf="isLoading">
  <div id="loader-wrapper" class="loader-wrapper">
    <div id="loader" class="loader">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
      <div class="message">Loading...</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">
  <full-calendar [options]="calendarOptions"></full-calendar>
</ng-container>
